@"
# Fabric binaries (DON'T push these)
bin/
builders/

# Generated runtime data
production/
var/
tmp/

# Generated Fabric artifacts
**/crypto-config/
**/organizations/
**/channel-artifacts/
**/system-genesis-block/
**/*.block
**/*.tx
**/*.pb
**/*.tgz
**/*.tar.gz

# Node
node_modules/
"@ | Out-File -Encoding utf8 .gitignore
